/* Box Model */
* {
     box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 10px;
     background: #000;
     color: #fff;
     display: flex;
     justify-content: center;
}

body {
     max-width: 120rem;
     display: grid;
     grid-template-rows: 4rem 80rem 40rem 140rem 40rem 40rem 20rem;
     grid-template-areas: 
          "hd"
          "intro"
          "ov"
          "ue"
          "sponsor"
          "op"
          "footer";
}

/* grid areas */

.header {
     grid-area: hd;
}

.int {
     grid-area: intro;
}

.our-values{
     grid-area: ov;
}

.upcoming-events{
     grid-area: ue;
}

.sponsors {
     grid-area: sponsor;
}

.ongoing-projects{
     grid-area: op;
}

.footer{
     grid-area: footer;
}